@{
    ViewBag.Title = "ForgotPassword";
}

<section class="container stylization maincont">


    <ul class="b-crumbs">
        <li>
            <a href="@Url.Action("Index","Home")">
                Home
            </a>
        </li>
        <li>
            <span>Forgot Password</span>
        </li>
    </ul>
    <h1 class="main-ttl"><span>Forgot Password</span></h1>
    <div class="auth-wrap">
        <div class="auth-col">
            <h2>Forgot Password</h2>
            @using (Html.BeginForm("ForgotPassword", "Account", new { area = "" }, FormMethod.Post, new { id = "frm", @class = "login" }))
            {
                @Html.AntiForgeryToken()

                <p>
                    <label for="username">E-mail <span class="required">*</span></label><input type="text" id="username" name="Email">
                </p>
                <p>
                    <input type="submit" value="Send">
                </p>
                <p class="auth-lost_password">
                    <a href="@Url.Action("Login", "Account")">Remember Login</a>
                </p>
            }
        </div>
    </div>
</section>