@{
    ViewBag.Title = "ResetPassword";
}

<section class="container stylization maincont">


    <ul class="b-crumbs">
        <li>
            <a href="@Url.Action("Index","Home")">
                Home
            </a>
        </li>
        <li>
            <span>Reset Password</span>
        </li>
    </ul>
    <h1 class="main-ttl"><span>Reset Password</span></h1>
    <div class="auth-wrap">
        <div class="auth-col">
            <h2>Reset Password</h2>
            @using (Html.BeginForm("ResetPassword", "Account", new { area = "" }, FormMethod.Post, new { id = "frm", @class = "login" }))
            {
                @Html.AntiForgeryToken()

                if (ViewBag.Code != null)
                {
                    <input type="hidden" name="Code" value="@ViewBag.Code" id="Code">
                }

                <p>
                    <label for="username">E-mail <span class="required">*</span></label><input type="text" id="username" name="Email">
                </p>
                <p>
                    <label for="reg_password">Password <span class="required">*</span></label><input type="password" id="reg_password" name="Password">
                </p>
                <p>
                    <label for="reg_password">Confirm Password <span class="required">*</span></label><input type="password" id="reg_password" name="ConfirmPassword">
                </p>
                <p class="auth-submit">
                    <input type="submit" value="Submit">
                </p>
                <p class="auth-lost_password">
                    <a href="@Url.Action("Login", "Account")">Remember Login</a>
                </p>
            }
        </div>
    </div>
</section>